{% extends 'base.html' %}
{% load static %}
{% block css-loc %}
<link rel="stylesheet" href="{% static 'blog/css/style-home.css' %}"> {% endblock %}
{% block title %}Blog{% endblock title %}

{% block blogactive %} active {% endblock %}

{% block body %}
<div class="container my-4">
    <h2 class="coding-articles-heading">Coding Articles by EasyCode</h2>

    {% for post in allPosts %}

    <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Author: {{post.author}}</strong>
            <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}}</a></h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}<img class="ml-2" src="{% static 'blog/images/eye.svg' %}" alt="user"><span class="badge badge-success badge-dark ml-2"> {{post.views}} views</span></div>
            <p class="card-text mb-auto"><div class="preview">{{post.content|safe|truncatechars:350}}</div></p>
            <div>
                <a href="/blog/{{post.slug}}" role="button" class="mt-3 btn btn-warning">Continue reading</a>
            </div>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="/media/{{post.thumbnail}}" class="bd-placeholder-img" aria-label="Placeholder: Thumbnail">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}