.modal-title{
    font-weight: 700;
}

.login-signup-forms-head-cat{
    font-weight: 600;
}

.drop-head-list{
    list-style: none;
}

.drop-head{
    color: white;
}

.drop-head:hover{
    color: white;
}